<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0" 
    id="com.applaudsolutions.EmployeeCenter" 
    ios-CFBundleVersion="101" 
    version="5.14.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Applaud HCM</name>
    <description>Applaud HCM</description>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="images/android/icons/ldpi.png" />
        <icon density="mdpi" src="images/android/icons/mdpi.png" />
        <icon density="hdpi" src="images/android/icons/hdpi.png" />
        <icon density="xhdpi" src="images/android/icons/xhdpi.png" />
        <icon density="xxhdpi" src="images/android/icons/xxhdpi.png" />
        <icon density="xxxhdpi" src="images/android/icons/xxxhdpi.png" />
        <splash density="port-ldpi" src="images/android/splash/splash200x320.png" />
        <splash density="port-mdpi" src="images/android/splash/splash320x480.png" />
        <splash density="port-hdpi" src="images/android/splash/splash480x800.png" />
        <splash density="port-xhdpi" src="images/android/splash/splash720x1280.png" />
        <splash density="port-xxhdpi" src="images/android/splash/splash960x1600.png" />
        <splash density="port-xxxhdpi" src="images/android/splash/splash1280x1920.png" />
        <splash density="land-ldpi" platform="android" src="images/android/splash/splash320x200.png" />
        <splash density="land-mdpi" platform="android" src="images/android/splash/splash480x320.png" />
        <splash density="land-hdpi" platform="android" src="images/android/splash/splash800x480.png" />
        <splash density="land-xhdpi" platform="android" src="images/android/splash/splash1280x720.png" />
        <splash density="land-xxhdpi" platform="android" src="images/android/splash/splash1600x960.png" />
        <splash density="land-xxxhdpi" platform="android" src="images/android/splash/splash1920x1280.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="KeychainAccessibility" value="WhenUnlocked" />
        <icon height="29" src="images/ios/icons/icon-29.png" width="29" />
        <icon height="40" src="images/ios/icons/icon-40.png" width="40" />
        <icon height="48" src="images/ios/icons/icon-48.png" width="48" />
        <icon height="50" src="images/ios/icons/icon-50.png" width="50" />
        <icon height="57" src="images/ios/icons/icon-57.png" width="57" />
        <icon height="58" src="images/ios/icons/icon-58.png" width="58" />
        <icon height="60" src="images/ios/icons/icon-60.png" width="60" />
        <icon height="64" src="images/ios/icons/icon-64.png" width="64" />
        <icon height="72" src="images/ios/icons/icon-72.png" width="72" />
        <icon height="76" src="images/ios/icons/icon-76.png" width="76" />
        <icon height="80" src="images/ios/icons/icon-80.png" width="80" />
        <icon height="87" src="images/ios/icons/icon-87.png" width="87" />
        <icon height="100" src="images/ios/icons/icon-100.png" width="100" />
        <icon height="114" src="images/ios/icons/icon-114.png" width="114" />
        <icon height="120" src="images/ios/icons/icon-120.png" width="120" />
        <icon height="144" src="images/ios/icons/icon-144.png" width="144" />
        <icon height="152" src="images/ios/icons/icon-152.png" width="152" />
        <icon height="167" src="images/ios/icons/icon-167.png" width="167" />
        <icon height="320" src="images/ios/icons/icon-320.png" width="320" />
        <icon height="1024" src="images/ios/icons/icon-1024.png" width="1024" />
        <splash src="images/ios/splash/Default@2x~universal~anyany.png" />
    </platform>
</widget>
